@page
@model lab1_hello_razor_higginra.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<h1>About Me</h1>
<p><strong>Name:</strong> Ryan Higgins</p>
<p><strong>Section:</strong> 0002</p>
<p><strong>Availability MoWe:</strong> Before 1:50 and after 3:05</p>
<p><strong>Availability TuTh:</strong> Before 11:00 and after 4:00</p>
<p><strong>Availability Fri:</strong> All day</p>
<p><strong>Skills:</strong> Python, SQL, interpersonal communication, leaderhsip</p>
<p><strong>Workstyle:</strong> Easy going, cooperative, idea-oriented</p>
<p><strong>Key Takeaway:</strong> I am looking forward to learning more about web development</p>
<p><strong>Fun Fact:</strong> I play guitar</p>
