@page
@model lab1_hello_razor_higginra.Pages.ContactModel
@{
    ViewData["Title"] = "Contact"; 
}

<h1>Contact</h1>

<p><strong>Ryan's Pub<strong></p> 
<p><strong>Address:</strong> 1234 N High St, Harrisonburg, VA 22802</p>
<p><strong>Phone:</strong> 911</p>


<p>
    <button type="button" class="btn btn-primary">
    Book a Reservation
    </button>
</p>